* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

.row {
  width: 1140px;
  margin: 0 auto 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.715), rgba(0, 0, 0, 0.6)),
    url(img/hero.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 230%;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h3 {
  font-weight: 400;
  font-size: 150%;
}

.hero-text-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 20%;
  left: 20%;
}

.side-nav {
  /* overflow: hidden; */
  height: 100vh;
  position: fixed;
  float: left;
  width: 14vw;
  background-color: #fafafa;
}

.logo {
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  padding: 30px 5px 30px !important;
  background-color: #f3f1f1;
}

#name {
  display: block;
  padding: 10px 8px;
  font-size: 90%;
  text-decoration: none;
  color: #008073;
}

.brown-text {
  color: #795548;
  font-weight: 400;
  font-size: 60%;
  margin-left: 0.8vw;
}

.side-nav li {
  padding: 10px 0 10px 0;
}

.side-nav i {
  position: relative;
  top: 5px;
  padding: 0 15px;
}

.side-nav li a i {
  font-size: 150% !important;
}
.about-icon {
  color: teal;
}
.experience-icon {
  color: #00bcd4;
}

.skill-icon {
  color: #3f51b5;
  transform: rotate(180deg);
}

.project-icon {
  color: #9c27b0;
}
.education-icon {
  color: rgb(68, 67, 67);
}
.contact-icon {
  color: mediumseagreen;
  left: 2px;
  font-size: 140% !important;
  margin-right: 2px;
}
.resume-icon {
  color: #795548;
}

.hire-icon {
  color: #ff9800;
}
a {
  text-decoration: none;
  display: block;
}

.no-a-style {
  display: block;
  float: right;
}

span {
  color: #333;
}

.side-nav li:hover {
  background-color: rgba(189, 188, 188, 0.4);
  transition: background-color 1s;
}

.side-nav li:active {
  background-color: rgba(3, 109, 109, 0.39);
}

.teal {
  background-color: #008073 !important;
  color: #fff;
}

.underline {
  -webkit-text-decoration: underline#008073;
  text-decoration: underline#008073;
  color: #fff;
}

.about {
  position: relative;
  margin-bottom: 10vh;
  width: 85.8%;
  height: 100%;
  left: 14.18%;
}

.about-1 {
  padding-top: 5vh;
  text-align: center;
  height: 18vh;
  font-size: 250%;
  font-weight: 300;
  color: #fff;
  background-color: #008073 !important;
}

blockquote {
  border-left: 5px solid #795548;
  color: #795548;
  font-size: 125%;
  margin: 6vh 0;
  padding-left: 1.5rem;
  margin-left: 2vw;
  height: 20vh;
  padding-top: 1rem;
}

h2 {
  font-weight: 300;
}

.about p {
  text-align: justify;
  line-height: 1.5em;
  margin-left: 2vw;
  width: 72vw;
  word-spacing: 2px;
}

.container {
  width: 85%;
  margin: auto;
  padding: 1em 1em;
  margin-top: 4vh;
}
.exp-1 {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  margin-bottom: 60px;
  padding-left: 1vw;
  padding-bottom: 2vh;
}

.exp-2 {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  margin-bottom: 60px;
  padding-left: 1vw;
  padding-bottom: 2vh;
}
.company-logo {
  background-image: url(img//Unwind.png);
  margin-left: 1vw;
  background-repeat: no-repeat;
  width: 7vw;
  position: absolute;
  height: 12vh;
  display: inline-block;
}
.company-logo-EP {
  background-image: url(img//EP.png);
  margin-left: 1vw;
  background-repeat: no-repeat;
  width: 7vw;
  position: absolute;
  height: 12vh;
  display: inline-block;
}
.company-logo-1 {
  background-repeat: no-repeat;
  width: 7vw;
  position: absolute;
  height: 12vh;
  display: inline-block;
}

.freelance-logo {
  color: #f58220;
  font-size: 12vh !important;
  margin-left: 1vw;
}

.company-name {
  display: inline-block;
  margin-left: 8vw;
  margin-top: 3vh;
  color: teal;
}
.company-name-EP {
  display: inline-block;
  margin-left: 6vw;
  margin-top: 1vh;
  color: teal;
}

.position-name {
  float: right;
  margin-right: 2vw;
  margin-top: 3.5vh;
  font-size: 85%;
  color: #795548;
}
.position-name-EP {
  float: right;
  margin-right: 2vw;
  margin-top: 1.5vh;
  font-size: 85%;
  color: #795548;
}
.position-name-1 {
  float: right;
  line-height: 200%;
  margin-right: 5vw;
  font-size: 85%;
  color: #795548;
}

.position-font {
  font-weight: 400;
}
.company-details {
  height: 18vh;
  padding-top: 5vh;
  border-bottom: 1px solid #ddd;
  width: 98%;
}

/* #border {
  background-color: blueviolet;
  width: 100%;
  height: 1px;
  margin-top: 4.5vh;
} */

.job-points {
  margin-left: 2vw;
  margin-top: 5vh;
}
.job-points li {
  line-height: 150%;
}

h6 {
  border-top: 1px solid #ddd;
  width: 98%;
  padding-top: 1vh;
  margin-top: 4vh;
  margin-left: 2px;
  color: rgba(37, 37, 37, 0.651);
}

.skills-1 {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  margin-bottom: 60px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 4vh;
}

.tech-heading {
  padding-bottom: 2vh;
  margin-top: 4vh;
  font-size: 150%;
  border-bottom: 1px solid #ddd;
  color: #795548;
}

#technology-1,
#technology-2,
#technology-3,
#technology-4 {
  display: inline-block;
  width: 22%;
  text-align: center;
}

#react-icon {
  margin-bottom: 0;
}

#html {
  width: 6vw;
  margin-left: 4.2vw;
}

.tech-icon {
  border-style: none;
  width: 9vw;
  margin-left: 2.8vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
  display: table-cell;
}

.tech-skills-2 {
  display: inline-block;
  text-align: center;
  width: 15.5vw;
  margin-bottom: 4vh;
}

#about-div {
  width: 90%;
  margin-top: 8vh;
  padding-bottom: 4vh;
  margin-left: 4vw;
  padding-top: 1vh;
  background-color: #fff;
}
.box-shadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.col {
  overflow: hidden;
}

.form-label:first-child {
  margin-top: 2%;
}

.row-for-3 {
  padding-bottom: 0 !important;
  padding: 1em 2em;
}

.project-info {
  margin: 1em;
}

.col-new {
  height: 50vh;
}

.project-info span {
  color: teal;
  font-weight: 400;
  display: block;
  margin-bottom: 2vh;
}
.project-info p {
  display: contents;
}

.project-img {
  width: 100%;
  cursor: pointer;
}

.bg {
  height: 43%;
}

.education {
  margin-left: 10vw;
  margin-top: 3vh;
  color: teal;
}
/* 
.edu {
  width: 95%;
  padding: 1em 2em;
  margin: 10vh 2vw;
} */

.edu-1 {
  width: 47% !important;
  padding: 0 1em;
  height: 33vh;
  margin: 4% 4%;
}

.edu-2 {
  width: 40% !important;
  padding: 0 1em;
  height: 33vh;
  margin: 4% 1%;
}
.edu {
  color: teal;
  margin: 0;
  font-size: 130%;
  padding-top: 0.5em;
  margin-left: 0 !important;
  width: auto !important;
}
.edu-address {
  color: #795548;
}

.edu-ul {
  margin-left: 2vw;
  margin-top: 4vh;
}

.edu-row {
  width: 90%;
  margin: 2vh 6vw;
}

#edu1 {
  margin: 8vh 8vw !important;
}

.edu-li {
  margin-bottom: 2vh;
}

.project-img-container {
  opacity: 0.7;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.3s;
}

.project-img-container:hover {
  opacity: 1;
  transform: scale(1.2);
}

.bg {
  background-color: #000;
  overflow: hidden;
}

.hire {
  width: 100% !important;
  text-align: center;
  margin-left: 0 !important;
  font-size: 200%;
  color: teal;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

#hire {
  margin-bottom: 0;
}

.hire:after {
  display: block;
  height: 1px;
  background-color: #795548;
  content: " ";
  width: 45px;
  margin: 0 auto;
  margin-top: 12px;
}

.form-row {
  width: 100%;
  margin-left: 0;
  background-color: #fff;
  overflow: hidden;
}

#form-row-contact1 {
  padding: 5%;
}

.form-ele-row {
  width: 80%;
  margin: 2vh 15vw;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 7px !important;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 25vh;
}

#btn-send {
  background-color: teal;
  border: 1px solid teal;
  color: #fff;
  width: 25%;
  padding: 10px;
  border-radius: 200px;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.3s;
}

#btn-send:hover {
  transform: scale(0.9);
}

#btn-send:hover {
  background-color: rgba(2, 97, 97, 0.904);
  cursor: pointer;
}

#send-btn {
  overflow: unset;
}
*:focus {
  outline: none;
}
.contacts-icon {
  width: 4vw;
}
.contact-links {
  display: inline-block;
  position: absolute;
  margin-left: 2vw;
  margin-top: 1vh;
}

.contact-links:hover {
  text-transform: capitalize;
}
.contact-links:visited {
  color: inherit;
}
.contact-row {
  margin: 8vh 6vw;
}
.form11 {
  float: right;
  color: red;
  font-size: 80%;
  font-weight: 400;
  margin-top: 3%;
}

#contact {
  margin-bottom: 0 !important;
}

.download {
  margin-top: 15%;
  margin-left: 10%;
  display: inline-block;
  width: 38%;
}

.resume {
  height: 100vh;
  margin-bottom: 0;
}

.jpeg,
.pdf {
  width: 80% !important;
  border-radius: 4px !important;
}

.download img {
  width: 30%;
  margin-left: 25%;
  margin-bottom: 4%;
}

.jpeg:hover,
.pdf:hover {
  opacity: 1;
  transform: scale(1.2) !important;
}

.js-an-1,
.js-an-2,
.js-an-3,
.js-an-4 {
  opacity: 0;
}

.js-an-1.animate__backInDown,
.js-an-2.animate__backInDown,
.js-an-3.animate__backInDown,
.js-an-4.animate__backInDown {
  opacity: 1;
}

.js-an-5,
.js-an-7 {
  -webkit-animation-duration: 2s !important;
  animation-duration: 2s !important;
}

.js-an-4-1 {
  opacity: 0;
}

.js-an-4-1.animate__fadeInUp {
  opacity: 1;
}

.nav-icon {
  display: none !important;
}

@media (max-width: 992px) {
  html {
    scroll-padding-top: 10vh;
  }
  .side-nav {
    background: #fff;
    height: 64px;
    position: absolute;
    width: 100%;
    position: fixed;
    height: 10vh;
    z-index: 10;
    display: none;
  }

  main {
    padding-left: 0px;
    padding-top: 64px;
  }

  body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .about {
    left: 0;
    width: auto;
  }

  h1 {
    font-size: 345%;
  }

  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
      url(img/Sara-mobile.jpg);
  }

  .hero-text-box {
    left: 5%;
    top: 44%;
  }
  .about-1 {
    padding-top: 6vh;
    font-size: 500%;
  }

  #about-div {
    margin-left: 4vw;
    width: 93%;
  }

  blockquote {
    height: 7vh;
    margin: 4vh 0;
    margin-left: 5vw;
  }

  .about p {
    font-size: 200%;
    margin-left: 10vw;
    width: 80%;
  }

  .container {
    margin-left: 2vw;
    width: 97%;
  }

  .company-details {
    height: 15vh;
  }
  .company-name-EP {
    margin-left: 10vw;
    margin-top: 0vh;
    font-size: 200%;
  }

  .company-name {
    margin-left: 10vw;
    margin-top: 0vh;
    font-size: 200%;
    width: 40%;
  }

  .position-name-EP {
    float: left;
    font-size: 150%;
    margin-left: 10vw;
  }

  .position-name {
    font-size: 150%;
    margin-left: 10vw;
    margin-top: 0.5vh;
  }
  .job-points {
    margin-left: 6vw;
    margin-top: 2vh;
  }

  .job-points li {
    font-size: 180%;
    margin-bottom: 2%;
  }

  h6 {
    font-size: 150%;
  }

  .freelance-logo {
    font-size: 5vh !important;
  }

  .position-name-1 {
    font-size: 150%;
    margin-left: 10vw;
    margin-top: -0.5vh;
  }

  #freelance-details-div {
    height: 13vh;
  }

  #freelance-name-div {
    margin-left: 12vw;
  }

  .nav-icon {
    float: right;
    color: teal;
    margin-top: 1vh;
    margin-right: 2vw;
    font-size: 6em !important;
  }

  .nav-icon-0 {
    display: none !important;
  }

  .nav-icon-1 {
    display: block !important;
  }

  /* #name {
    padding-left: 5%;
  } */

  #name h3 {
    margin-left: 10vw;
  }
  .logo {
    text-align: center;
    font-size: 250%;
    padding: 0 !important;
  }

  .nav-mobile {
    width: 50%;
    height: 120vh;

    background: white;
  }

  .nav-mobile ul {
    font-size: 300%;
  }

  .nav-mobile ul li {
    padding-top: 4vh;
    padding-left: 2vw;
  }

  .side-nav i {
    top: 18px;
  }

  .nav-mobile ul li span {
    padding-left: 4vw;
  }
  .sticky {
    display: block;
  }

  .hide-nav {
    display: none !important;
  }
  #html {
    margin-left: 6vw;
  }

  .col-new {
    height: 54vh;
    margin: 0 !important;
  }

  .row-for-3 {
    padding-bottom: 0 !important;
  }
  .tech-skills-2 {
    width: 25vw;
  }

  .tech-heading {
    font-size: 300%;
    margin-left: 4vw;
  }

  .project-info p {
    font-size: 165% !important;
  }

  .bg {
    height: auto;
  }

  .edu-ul {
    font-size: 210%;
    margin-left: 6vw;
  }

  .edu-address {
    font-size: 230%;
    margin-left: 2% !important;
  }

  .edu {
    font-size: 270% !important;
    margin-left: 2% !important;
  }
  .edu-1 {
    width: 95% !important;
  }

  .edu-2 {
    margin-left: 0px !important;
    width: 95% !important;
  }

  .hire {
    font-size: 250%;
  }

  form {
    font-size: 200%;
  }

  .contact-row p {
    margin-left: 0;
  }

  .contacts-icon {
    width: 12vw;
  }
  #technology-1,
  #technology-2,
  #technology-3,
  #technology-4 {
    font-size: 200%;
    width: 24%;
  }

  .tech-skills-2 {
    font-size: 200%;
  }

  .tech-icon {
    width: 12vw !important;
    margin-left: 7vw;
  }
  .media-html {
    width: 9vw !important;
    margin-left: 8vw !important;
  }

  .margin-left {
    margin-left: 0 !important;
  }

  .project-info {
    font-size: 150%;
  }

  .project-info span {
    font-size: 165%;
  }

  .about-icon {
    font-size: 100% !important;
  }

  .span-1-of-4 {
    width: 23.8%;
  }
  .span2 {
    margin-bottom: 2% !important;
    /* width: 49.2% !important; */
  }

  #react-icon {
    padding-bottom: 1.2vh;
  }

  #btn-send {
    width: 35%;
  }

  .form-fields {
    margin-left: 2.5% !important;
    width: 65% !important;
  }

  .transparent {
    width: 100% !important;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    will-change: opacity;
  }

  .download {
    margin-left: 10%;
    width: 80%;
  }

  .resume {
    height: 106vh;
  }

  .download img {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 4%;
  }

  .jpeg,
  .pdf {
    border-radius: 20px !important;
    height: 8vh;
    font-size: 300%;
  }

  .download a {
    text-align: center !important;
  }
}
